body {
  background-color: #424342;
  text-align: center;
  padding-top: 60px;
}
h1, p {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: whitesmoke;
  margin-top: 60px;
}
p {
  font-size: 20px;
}
a {
  color: whitesmoke;
}