// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

@import "global/global"
// @import "components/components"
// @import "layout/layout"
//
// The variables you want to modify
// $font-size-root: 20px

body
  width: 100%
  padding: 0
  margin: 0

h1
  padding: 40px 0
  padding-top: 125px
  margin: 0 auto
  margin-bottom: 40px
    

main
  margin: 0 auto
  overflow: hidden
  p, label
    font-size: 1.6rem

section, footer
  padding: 20px 0
  margin: 0 auto
  h2
    margin-top: 0
    margin-bottom: 20px
    font-weight: bold
    font-size: 3rem
    color: darken($primary-blue, 50%)
  p
    margin: 0 auto

footer
  p
    padding: .5rem 0


a.button, input[type=submit]
  display: inline-block
  background-color: $pink5
  border-radius: 2px
  border: 2px solid $pink5
  box-shadow: $shadow3
  font-weight: bold
  font-size: 2rem
  padding: 5px 20px
  color: $gray1
  transition: box-shadow .4s ease
  &:hover
    box-shadow: $shadow1
button
  background-color: transparent
  border: none

label
  width: 100%