- var page = "about"
include ../layouts/header.pug
#body-wrapper
  main
    include ../components/splash.pug
    include ../components/date.pug
    include ../components/mission.pug
    include ../components/conduct.pug
    include ../components/location.pug
  include ../layouts/footer.pug
script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")