- var page = "contact"
include ../layouts/header.pug
#body-wrapper
  main.contact
    h1 Let us know what's going on
    section.get-involved
      .container.sponsor
        h3 Sponsors
        //- .icon
        //-   i.far.fa-handshake
        a.button(href="mailto:sponsors@southerndev.co")
          button Inquire
      .container.scholarship
        h3 Scholarships
        //- .icon
        //-   i.fas.fa-graduation-cap
        a.button(href="https://forms.gle/rW3kimkxpdrGnouX8" target="_blank" rel="noreferrer noopener")
          button Apply
      .container.volunteer
        h3 Volunteers
        //- .icon
        //-   i.fas.fa-user-astronaut
        a.button(href="https://forms.gle/g3Fi2nMEecgDJ5RG8" target="_blank" rel="noreferrer noopener")
          button Sign up
    include ../components/mail-chimp.html
  include ../layouts/footer.pug