include ../layouts/head.html
#body-wrapper
  main
    section.splash
      div.splash-img#splash-index(title="Photo courtesy of the Augusta Convention & Visitors Bureau")
      img.logo(src="images/logo.png" alt="Southern Dev Logo")
      h1 Coming Soon