- var page = "index"
include ../layouts/header.pug
#body-wrapper
  main
    include ../components/splash.pug
  section.date
    h2 Conference Date
      br
      span April 27, 2019
    include ../components/tickets.pug
    include ../components/conduct.pug
    include ../components/speakers.pug
    include ../components/mail-chimp.html
  include ../layouts/footer.pug
