include ../layouts/head.html
#body-wrapper
  include ../layouts/header.pug
  main
    section.splash
      div.splash-img#splash-index(title="Photo courtesy of the Augusta Convention & Visitors Bureau")
      .splash-filter
      h1 April 25, 2020
        //- br
        //- a.button(href="./2019" role="button" style="margin-top: 30px;" ) Check out 2019
    section.tickets
      h2 Tickets On Sale Now!
      a.button(href="https://www.theclubhou.se/event-tickets/southern-dev-2020-general-admission" target="_blank" rel="noreferrer noopener")
        button Get 'em Here
  include ../layouts/footer.pug