include ../layouts/header.pug
#body-wrapper
  main.schedule
    header
      h1 Schedule
    section.ctas
      .cta
        h3 Programming Competition Details
        a.button(href="runcode.html")
          button Check Out
      .cta
        h3 Printable Schedule
        a.button(href="https://docs.google.com/spreadsheets/d/1kNusG341d_vrSswLqQmA0KtYnVKHR63eEcu1c7sP4LM/edit#gid=0" target="_blank" rel="noreferrer noopener")
          button All Here

    section.general-schedule
      h3 General Plan of the Day
      ul
        li 8:00 am Registration
        li 8:30 am Opening Remarks
        li 9:00 am Talks begin
        li Noon Hour for Lunch
        li 1:00 pm Talks continue
        li 4:00 pm Programming Competition ends
        li 4:30 pm Competition Prizes awarded and Closing Remarks
        li 5:00 pm VIP Party


    include ../components/schedule.pug
  include ../layouts/footer.pug