include ../layouts/head.html
body#slides(style="overflow:hidden")

  img#logo-stuff(src="images/logo.png")

  section.fade
    .slide.slide-1
      img(src="images/slides-asheville.jpg")
    .slide.slide-2
      img(src="images/slides-nashville.jpg")
    .slide.slide-3
      img(src="images/slides-chicago.jpg")
    .slide.slide-4
      img(src="images/slides-newyork.jpg")
    .slide.slide-5
      img(src="images/slides-charlotte.jpg")
    .slide.slide-6
      img(src="images/Augusta-Georgia.jpg")

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")