section.subscribe-form
  h2 Stay Up to Date
  form(name="emailAdd")
    label(for="email")
      | Enter your email address if you want news that is a little cooler than spam.
    input(type="email" name="email" placeholder="greatEmail@aol.aol")
    p#results &nbsp;
    input(type="submit" name="submit" value="subscribe")