html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  color: #211a12; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.6rem; }

h5 {
  font-size: 2.4rem; }

h6 {
  font-size: 1.8rem; }

p {
  font-size: 1.6rem;
  line-height: 1.6; }

section.speakers {
  background-color: #fdfcfc;
  padding: 0; }
  section.speakers h1 {
    color: #fdfcfc;
    background-color: #f48971;
    padding: 40px 0;
    margin: 0 auto;
    margin-bottom: 40px; }
  section.speakers .bio {
    border-radius: 3px;
    padding: 60px 0;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #f3f2f2; }
    section.speakers .bio img {
      display: block;
      margin: 0 auto;
      border-radius: 100%;
      width: 150px;
      border: 1px solid #91806e; }
    section.speakers .bio .txt-container {
      display: block;
      margin: 0 auto;
      width: 80%; }
      section.speakers .bio .txt-container h4 {
        font-size: 3.6rem;
        color: #456abf;
        margin: 20px 0 10px 0; }
      section.speakers .bio .txt-container h5 {
        font-weight: normal;
        display: block;
        margin-bottom: 10px; }

@media (max-width: 1200px) {
  .mobile-tray-arrow {
    position: absolute;
    top: 7%;
    transform: translateY(-50%);
    z-index: 2;
    right: 15rem;
    padding: 1rem;
    cursor: pointer;
    background-color: #6b89cd;
    border-radius: 50% 0 0 50%;
    box-shadow: inset -5px 0 10px 0 rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: all .6s ease; }
    .mobile-tray-arrow.active-nav span {
      /* Pointing Right */ }
      .mobile-tray-arrow.active-nav span:first-child {
        transform: translateY(3px) rotate(45deg); }
      .mobile-tray-arrow.active-nav span:last-child {
        transform: translateY(-3px) rotate(-45deg); }
    .mobile-tray-arrow.active-nav:hover {
      background-color: #5f7cbe; }
      .mobile-tray-arrow.active-nav:hover span:first-child {
        transform: translateY(3px) rotate(50deg); }
      .mobile-tray-arrow.active-nav:hover span:last-child {
        transform: translateY(-3px) rotate(-50deg); }
    .mobile-tray-arrow span {
      display: block;
      width: 3rem;
      height: .5rem;
      background-color: #CDF589;
      margin: .5rem auto;
      transition: all .4s ease;
      top: 50%;
      /* Pointing Left */ }
      .mobile-tray-arrow span:nth-child(2) {
        opacity: 0;
        height: 1rem; }
      .mobile-tray-arrow span:first-child {
        transform: translateY(10px) rotate(90deg); }
      .mobile-tray-arrow span:last-child {
        transform: translateY(-15px) rotate(0deg); } }

@media (max-width: 1200px) {
  .mobile-nav {
    position: fixed;
    right: -15rem;
    z-index: 2;
    height: 100%;
    transition: right .4s ease; }
    .mobile-nav.active-nav {
      right: 0; }
  #body-wrapper {
    right: 0;
    transition: right .4s ease; }
    #body-wrapper.active-nav {
      right: 10rem; } }

.slick {
  display: block;
  height: 50vh;
  width: 100%; }

header#main {
  position: relative;
  right: 0;
  height: 100%;
  width: 15rem;
  z-index: 1;
  overflow: hidden;
  background-color: #6b89cd;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4); }
  header#main img {
    position: relative;
    top: 1rem;
    width: 100%;
    margin: 0; }
  header#main nav {
    position: relative;
    width: 100%;
    right: 0;
    top: 0; }
    header#main nav ul {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0 auto; }
    header#main nav li {
      position: relative;
      display: block;
      list-style-type: none;
      text-align: center;
      transition: all ease .2s; }
      header#main nav li:after {
        content: "";
        position: absolute;
        display: block;
        left: 10%;
        bottom: 20px;
        margin-top: 1rem;
        width: 0;
        height: 3px;
        background-color: #CDF589;
        transition: all .2s ease; }
      header#main nav li a {
        display: block;
        width: 100%;
        padding: 20px 0 30px 0;
        font-size: 1.6rem; }
      header#main nav li:hover {
        background-color: #5f7cbe;
        cursor: pointer;
        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2); }
        header#main nav li:hover:after {
          width: 80%;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }
  @media (min-width: 1200px) {
    header#main {
      position: fixed;
      top: 0;
      width: 100%;
      height: auto; }
      header#main img {
        width: 10rem; }
      header#main nav {
        position: absolute;
        bottom: 0;
        width: 80%; }
        header#main nav ul {
          margin: 2rem auto 0 auto;
          width: 100%; }
        header#main nav li {
          display: inline-block;
          border-radius: 10px 10px 0 0;
          margin-top: 0;
          width: 15%; }
          header#main nav li a {
            width: 100%;
            padding: 20px 0 30px 0; } }

body {
  width: 100%;
  padding: 0;
  margin: 0; }

main {
  margin: 0 auto;
  overflow: hidden; }
  main p, main label {
    font-size: 1.6rem; }

section, footer {
  padding: 20px 0;
  margin: 0 auto; }
  section h2, footer h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 3rem;
    color: #020204; }
  section p, footer p {
    margin: 0 auto; }

footer p {
  padding: .5rem 0; }

button {
  background-color: #F38770;
  border-radius: 2px;
  border: 2px solid #F38770;
  box-shadow: 1px 1px 2px 0.8px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding: 0;
  transition: all .2s ease; }
  button a {
    display: block;
    color: white;
    padding: 10px 20px; }
    button a:hover {
      text-shadow: none; }
    button a:visited {
      color: white; }
  button:hover {
    background-color: white;
    color: #F38770; }
    button:hover a {
      color: #F38770; }

label {
  width: 100%; }

input {
  display: inline-block;
  margin: 20px auto;
  border: 0;
  background-color: lightgray; }

input[type=email] {
  padding: 10px 20px;
  text-align: center;
  box-shadow: inset 10px 10px 20px -15px rgba(0, 0, 0, 0.4);
  border-radius: 5px; }

input[type=submit] {
  background-color: #F38770;
  padding: 10px 20px;
  border-radius: 2px;
  border: 2px solid #F38770;
  box-shadow: 1px 1px 2px 0.8px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 2rem;
  color: white;
  transition: all .2s ease; }

.splash {
  position: relative;
  min-height: 50vw;
  padding: 10rem 0 6rem; }
  .splash .splash-img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #456AC0;
    filter: saturate(1.5) blur(1px) grayscale(0.4) sepia(0.2) contrast(1.2);
    -webkit-filter: saturate(1.5) blur(1px) grayscale(0.4) sepia(0.2) contrast(1.2); }
  .splash h1, .splash .logo {
    position: relative;
    margin: 0 auto; }
  .splash h1 {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.4);
    padding: 1rem; }
  .splash .insta-filters, .splash #dev-btn {
    position: absolute;
    top: 0;
    left: 0; }
  .splash button {
    background-color: #F38770;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 5px;
    color: white;
    border: none; }
  .splash .logo {
    filter: drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.5));
    transition: all .2s ease;
    width: 50%;
    max-width: 500px; }

.date h2 span {
  color: #ef6041; }

.conduct {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 30px 0; }
  .conduct h2 {
    font-size: 3rem; }
  .conduct h4 {
    font-size: 2rem;
    margin: 2rem 0 1rem 0; }
  .conduct p {
    opacity: .9;
    text-align: left; }
  .conduct br {
    height: 10px; }

.speakers .cfp h4 {
  font-size: 2.4rem;
  margin: 0; }

.subscribe-form, .tickets {
  position: relative;
  background: white;
  margin: 20px auto;
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black; }
  .subscribe-form .datefield input, .tickets .datefield input {
    width: 10%; }

.location .iframeCont {
  position: relative;
  z-index: 1;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden; }
  .location .iframeCont:before {
    content: '';
    border-radius: 10px;
    position: absolute;
    box-shadow: inset 0px 0px 4px 2px #757675;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none; }

.location iframe {
  height: 500px;
  min-height: 20rem;
  width: 100%;
  margin: 0 auto;
  border: none; }

.location p, .location a {
  font-size: 2.4rem;
  padding-bottom: 2rem; }

.footerMain {
  overflow: hidden;
  padding: 2rem; }
  .footerMain .clubhouse {
    float: left;
    width: 50%; }
    .footerMain .clubhouse img {
      width: 100%;
      max-width: 100px; }
  .footerMain .main {
    float: right;
    width: 50%; }

#mc_embed_signup {
  background: #fff;
  width: 100%;
  margin: 0 auto; }

#body-wrapper {
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 1920px;
  background-color: #dbdcdb; }

#dev-btn {
  display: none; }

#results {
  color: tomato;
  margin: 0 auto; }

#splash-index {
  background-image: url("../images/ga.jpg"); }

#splash-about {
  background-image: url("../images/stock-audience.jpg"); }

#splash-tickets {
  background-image: url("../images/stock-ticket.jpg"); }

#splash-contact {
  background-image: url("../images/stock-contact.jpg"); }
