#bios
  border-radius: 10px
  width: 90%
  max-width: 1250px
  margin: 3rem auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  .bio
    background-color: lighten($primary-gray, 70%)
    border-radius: 3px
    box-shadow: 2px 2px 1px 0 lighten($primary-gray, 20%), 2px 2px 8px 2px lighten($primary-gray, 30%)
    margin: 1rem
    max-width: 90%
    width: 250px
    img
      border-radius: 100%
      margin: 2rem auto
      width: 90%
    h4
      font-size: 2rem
      padding: 1rem 1rem 0 1rem
      margin: 0 auto
    h5
      font-size: 1.8rem
      font-weight: normal
      display: block
      padding: 0 1rem
      width: 90%
  // @media(max-width: 800px)
  //   .bio
  //       text-align: center
  //       padding: 2rem 0
  //   img
  //     width: 100%
// .cfp
//   background-color: #ddd
//   width: 90%
//   margin: 0 auto
//   padding: 10px 0
//   border-radius: 10px
//   p, h4, a
//     text-align: middle
//   h4
//     font-size: 2rem
//     line-height: 1.8
//     margin-top: 0
//     margin-bottom: .5rem
//   a
//     color: $primary-gray
