section.speakers
  background-color: white
  #bios
  border-radius: 10px
  .bio
    border-radius: 3px
    padding: 60px 0
    text-align: left
    img
      display: inline-block
      border-radius: 100%
      width: 20%
      border: 1px solid $gray5
    .txt-container
      display: inline-block
      width: 79%
      h4
        font-size: 2rem
        padding: 1rem 1rem 0 1rem
      h5
        font-size: 1.8rem
        font-weight: normal
        display: block
        padding: 0 10px
        width: 90%
      p
        margin: 0
        padding: 0
        width: 100%
