section.speakers
  background-color: $gray1
  padding: 0
  h1
    color: $gray1
    background-color: $pink5
    padding: 40px 0
    margin: 0 auto
    margin-bottom: 40px
  #bios
  .bio
    border-radius: 3px
    padding: 60px 0
    text-align: left
    width: 100%
    border-bottom: 1px solid $gray2
    img
      display: block
      margin: 0 auto
      border-radius: 100%
      width: 150px
      border: 1px solid $gray5
    .txt-container
      display: block
      margin: 0 auto
      width: 80%
      h4
        font-size: 3.6rem
        color: $blue5
        margin: 20px 0 10px 0
      h5
        font-weight: normal
        display: block
        margin-bottom: 10px
        


