header#main
    height: auto
    z-index: 3
    overflow: hidden
    position: fixed
    top: 0
    width: 100%
    max-width: 1920px
    left: 50%
    transform: translateX(-50%)
    background-color: $gray7
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4)
    img
        position: relative
        padding: .5rem
        width: 20%
        max-width: 100px
        margin: 0
    nav
        width: 80%
        position: absolute
        text-align: center
        top: 50%
        right: 0
        transform: translateY(-50%)
        @media(min-width: 600px)
            left: 50%
            transform: translateX(-50%) translateY(-50%)
        ul 
            position: relative
            display: flex
            width: 100%
            max-width: 900px
            margin: 0 auto
        li
            position: relative
            list-style-type: none
            text-align: center
            transition: all ease .2s
            display: inline-block
            width: 80px
            margin: 0 auto
        .select
            &:after
                content: ""
                position: absolute
                display: block
                left: 10%
                margin-top: 1rem
                width: 0
                height: 3px
                background-color: $blue3
                transition: all .2s ease
            
        a
            display: block
            text-decoration: none
            color: $gray1
            width: 100%
            font-size: 1.6rem
            width: 100%
            padding: 20px 0
            @media(hover)
                &:hover
                    cursor: pointer
                    .select:after
                        width: 80%