header#main
    right: 0
    height: 100%
    width: 15rem
    z-index: 1
    overflow: hidden
    background-color: $gray7
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4)
    position: fixed
    top: 0
    width: 100%
    height: auto
    img
        position: relative
        top: 1rem
        width: 20%
        max-width: 100px
        margin: 0
    nav
        width: 80%
        position: absolute
        text-align: center
        top: 50%
        right: 0
        transform: translateY(-50%)
        @media(min-width: 600px)
            left: 50%
            transform: translateX(-50%) translateY(-50%)
        ul 
            position: relative
            display: flex
            width: 100%
            max-width: 900px
            margin: 0 auto
        li
            position: relative
            list-style-type: none
            text-align: center
            transition: all ease .2s
            display: inline-block
            width: 80px
            margin: 0 auto
        .select
            &:after
                content: ""
                position: absolute
                display: block
                left: 10%
                margin-top: 1rem
                width: 0
                height: 3px
                background-color: $blue3
                transition: all .2s ease
            
        a
            display: block
            text-decoration: none
            color: $gray1
            width: 100%
            font-size: 1.6rem
            width: 100%
            padding: 20px 0
            &:hover
                // background-color: lighten($primary-dark-blue, 10%)
                cursor: pointer
                // box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2)
                .select:after
                    width: 80%
                    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2)