footer.footerMain
  div.clubhouse
    a(target="_blank" rel="noreferrer noopener" href="https://theclubhou.se/")  Organized by theClubhou.se and friends
    a(target="_blank" rel="noreferrer noopener" href="https://theclubhou.se/")
      img(src="images/theclubhouse.png" alt="Blue circle surrounding a big C with theClubhouse written inside")
  div.main
    ul
      li
        a(target="_blank" rel="noreferrer noopener" href="https://twitter.com/sodevcon")
          i.fab.fa-twitter
          |  @sodevcon
      li
        a(target="_blank" rel="noreferrer noopener" href="mailto:info@southerndev.co")
          i.far.fa-envelope
          |  info@southerndev.co
      li
        a(target="_blank" rel="noreferrer noopener" href="https://augustadevs.github.io/") ❤️ by Augusta Devs
      li
        a(target="_blank" rel="noreferrer noopener" href="https://github.com/theClubhouse-Augusta/southern-dev")
          i.fab.fa-github
          |  Our code