footer.footerMain
  div.clubhouse
    p Organized by
      a(href="https://theclubhou.se/")
        |  theClubhou.se
      |  and friends
    a(href="https://theclubhou.se/")
      img(src="images/theclubhouse.png" alt="Blue circle surrounding a big C with theClubhouse written inside")
  div.main
    p
      i.fab.fa-twitter
      a(href="https://twitter.com/southerndev_co")
        |  @southerndev_co
    p
      i.far.fa-envelope
      a(href="mailto:info@southerndev.co")
        |  info@southerndev.co
    p ❤️ by
      a(href="https://augustadevs.github.io/")
        |  Augusta Devs
    p
      i.fab.fa-github
      a(href="https://github.com/theClubhouse-Augusta/southern-dev")
        |  Our code