footer.footerMain
  div.clubhouse
    a(href="https://theclubhou.se/")  Organized by theClubhou.se and friends
    a(href="https://theclubhou.se/")
      img(src="images/theclubhouse.png" alt="Blue circle surrounding a big C with theClubhouse written inside")
  div.main
    ul
      li
        a(href="https://twitter.com/southerndev_co")
          i.fab.fa-twitter
          |  @southerndev_co
      li
        a(href="mailto:info@southerndev.co")
          i.far.fa-envelope
          |  info@southerndev.co
      li
        a(href="https://augustadevs.github.io/") ❤️ by Augusta Devs
      li
        a(href="https://github.com/theClubhouse-Augusta/southern-dev") 
          i.fab.fa-github
          |  Our code