<footer class="footerMain" >
  <div class="clubhouse">
    <p>Organized by <a href="https://theclubhou.se/">theClubhou.se</a>  and friends</p>
    <a href="https://theclubhou.se/">
      <img src="images/theclubhouse.png" alt="">
    </a>
  </div>
  <div class="main" >
    <p>
      <i class="fab fa-twitter"></i>
      <a href="https://twitter.com/southerndev_co">@southerndev_co</a>
    </p>
    <p><i class="far fa-envelope" ></i>
      <a href="mailto:info@southerndev.co">info@southerndev.co</a>
    </p>
    <p>❤️ by
      <a href="https://augustadevs.github.io/">Augusta Devs</a>
    </p>
    <p>
        <i class="fab fa-github"></i>
      <a href="https://github.com/theClubhouse-Augusta/southern-dev">Our code</a>
    </p>
  </div>
</footer>