doctype html
html
  include head.html
  body
    .mobile-nav
      header#main
        a(href="index.html")
          img(src="images/logoBig.png").header-image
        include ../components/navbar.pug
      include ../components/mobile-tray-arrow.pug