doctype html
html
  include head.html
  body
    .mobile-nav
      header#main
        img(src="images/logoBig.png" href="index.html").header-image
        include ../components/navbar.pug
      include ../components/mobile-tray-arrow.pug