<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Southern Dev">
  <meta property="og:site_name" content="southerndev">
  <meta property="og:url" content="southerndev.co">
  <meta property="og:description" content="A developer conference in Augusta Georgia. We want to push forward the conversation around software engineering beyond the basics.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta name="description" content="A developer conference in Augusta Georgia. We want to push forward the conversation around software engineering beyond the basics." >
  <meta name="google-site-verification" content="6kUjhvEiJXYvAHEbR88rpfXohyc23GlOoXzcgnWAqcU" />
  <title>Southern Dev</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <script src="js/speakers.js"></script>
  <script src="js/main.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
    crossorigin="anonymous"></script>
</head>