doctype html
html
  include head.html
  body
    .hamburger
        span.line
        span.line
        span.line
    header#header-main
      a(href="index.html")
        img(src="images/logo.png").header-image
      include ../components/navbar.pug