section.location
  h2 Venue Location
  a(href="https://cybercenter.georgia.gov/" target="_blank" rel="noreferrer noopener")
    | Georgia Cyber Center
  p 100 Grace Hopper Lane, Augusta, GA 30901
  div.iframeCont
    iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1CQdON6sA-pMuOvTIrZcyzU7B6rw-e_lu")