section.mission#mission-card
  div.font-container
    span
      i.fas.fa-monument
  h2 Our Mission
  p Our goal is to push the conversation of software development beyond the basics and push innovation in design, architecture, data storage, and technical leadership. We believe an annual conference is a way to begin these discussions that can carry over to our developer community, businesses, and organizations throughout the year to improve ourselves and by extension, our community.