section.mission
  h2 Our Mission
  p Our goal is to push software development, design,  and technical leadership beyond elementary conversations. We believe an annual conference is a way to begin these discussions that can carry over to our developer and business communities throughout the year to improve technical communication.