nav
    ul
        li
<<<<<<< HEAD
            a(href="index.html") Home
=======
            a(href="home.html") Home
>>>>>>> cb1df82ab467d2af25d3214c0adad52abb9af5a4
        li 
            a(href="about.html") About
        li 
            a(href="speakers.html") Speakers
        li 
            a(href="schedule.html") Schedule
        li 
            a(href="tickets.html") Tickets
        li 
            a(href="contact.html") Contact