nav
    ul
        li
            a(href="home.html") Home
        li 
            a(href="about.html") About
        li 
            a(href="speakers.html") Speakers
        li 
            a Schedule
        li 
            a Tickets
        li 
            a Contact