nav
    ul
        //- li
        //-     a(href="index.html") Home
        li 
            a(href="about.html") 
                .select About
        li 
            a(href="speakers.html") 
                .select Speakers
        //- li 
        //-     a(href="schedule.html") Schedule
        li 
            a(href="contact.html") 
                .select Contact