section.conduct
  h2 Photo & Video Policies
  p Professional photography and videography is permitted at Southern Dev only with press credentials and a camera tag provided by the Southern Dev Press Department. By accepting press credentials and a camera tag, you agree to the terms detailed in this Photo and Video Policy.
  p For any questions about this policy, please contact us at info@southerndev.co.

  p For information about personal digital cameras or phones, please see the Attendee Photo & Video Policy page.

  h3 REGISTERED PRESS AND CAMERA TAGS

  ul
    li Only SXSW accredited press are eligible to receive a camera tag
    li To obtain camera tags, bring your camera to the Press table in the Registration area of the Austin Convention Center
    li The camera tag must be affixed to your camera AT ALL TIMES
    li
      b Under no circumstances are tripods, lights and elaborate set ups permitted in any SXSW venue hallways

  p Press credentials and photographer/videographer camera tags are issued at the discretion of SXSW and can be revoked at any time if SXSW determines they are misused.

  h3 PHOTOGRAPHY

  p You must have a SXSW camera tag affixed to your camera to take photos at Conference and Festival events.

  p Additionally, flash photography is only allowed as follows:

  h3 Conference rules:

  ul
    li During the first five (5) minutes of any session from the front of the room
    li After five (5) minutes, no flash photography will be allowed and cameras will need to be removed from the front of the room
    li If you are staying after the first five (5) minutes, you must have a seat in the audience

  h3 Attendee Photo & Video Policy

  p Personal digital cameras (excluding SLR/DSLRs) are allowed at SXSW, SXSW EDU, and SXSW Gaming Conference events for capture of content for personal, non-commercial (non-sponsored and non-monetized) use, subject to the limitations below.

  p Attendees may take photos and shoot video from their seats, as long as they are not standing in the press area, obstructing views, using any sort of device like a tripod or selfie-stick, or using a flash after the session begins. Live streaming of any kind is not permitted.

  p Attendees are not permitted to take photos or shoot video where it is unsafe or disruptive such as in doorways, fire exits, expo floor aisles, hallways, sidewalks, etc. Not complying with a request to move or stop capturing content could result in your removal.

  p We encourage attendees to use the SXSW backdrops and props placed around our venues for personal photo opportunities.

  p No professional camera equipment will be allowed in official SXSW Music Festival showcases (including the Outdoor Stage), Film Festival Screenings, Interactive Festival events, or Comedy Festival showcases without prior consent from the SXSW PR Department (see the Photo and Video Policies page for registered press).