section.speakers
  header
    h1 Speakers
  div#bios
    //- .bio>img+h4+p
  div.cfp
    h4 CFP
    a(href="https://www.papercall.io/southerndev" target="_blank" rel="noreferrer noopener").txt-box Submit a talk