section.speakers
  header
    h1 Speakers
  div#bios
    each speaker in speakers
      .bio
        img(src="../images/speaker-" + speaker.image)

        .txt-container
          h4= speaker.name
          h5= speaker.company
          p= speaker["bio-short"]
          if speaker["social-media"]
            .social-media
              each val, index in speaker["social-media"]
                a(href=val)
                  i.fab(class="fa-" + index)
    //- .bio>img+h4+p
  //- div.cfp
  //-   h4 CFP
  //-   a(href="https://www.papercall.io/southerndev" target="_blank" rel="noreferrer noopener").txt-box Submit a talk