section.speakers
  h2 Speakers
  div#bios
    //- .bio>img+h4+p
  div.cfp
    h4 CFP
    p Submit a talk
      a(href="https://www.papercall.io/southerndev")
        |  &commat;PaperCall.io/SouthernDev