section.sponsors
  header
    h2 Sponsors
  .sponsors-section
    - var levels = ["platinum", "gold", "silver", "community"]
    each level in levels
      if level === "platinum" || level === "gold"
      else
        .sponsor-section(class=level)
          header
            h3 #{level.toUpperCase()}
          each sponsor in sponsors
            if sponsor.level === level
              a(href=sponsor.link)
                img(src="images/sponsor-" + sponsor.name + ".png")